.follow-container {
    margin-top: 44px;
    width: 100%;
    max-width: 600px;
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(50, 50, 50);
    /* padding-top: 1rem; */
}

.tab {
    flex: 1;
    color: gray;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab.active {
    border-bottom: 2px solid #5c9dff;
    color: white;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 10px;
}

.follow-container .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}