.post-modal-container {
  margin-top: 44px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #141416;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  z-index: 999;
}


.post-modal-container textarea {
  margin: 1rem;
}
.post-textarea{
  height: 10rem;
}

.modal-icons-left {
  display: flex;
}

.post-media-preview {
  margin: 0 1rem;
  max-width: 100%;
  /* Div'in genişliğiyle sınırlayın */
  max-height: 100%;
  /* Gerekirse bir maksimum yükseklik belirleyin */
  overflow: hidden;
  /* Taşmayı gizleyin */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.post-media-preview img,
.post-media-preview video {
  margin-bottom: 1rem;
  max-width: 70%;
  max-height: 100%;
  object-fit: contain;
  /* Görselin taşmasını önleyin ve içeriği koruyun */
  border-radius: 8px;
  /* Görsel köşelerine yuvarlama ekleyebilirsiniz */
}

.event-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-form textarea{
  width: 50%;
}

.poll-form {
  margin-top: 20px;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poll-form .poll-option-select{
  column-gap: 1rem;
  width: 55%;
  gap: 3rem;
  display: flex;
  align-items: center;
}


.event-icon {
  cursor: pointer;
}

/* Textarea */
textarea:disabled {
  background-color: #1D1F24;


  color: #aaa;
  /* Soluk metin rengi */
  cursor: not-allowed;
  /* Fareyi 'not-allowed' yapar */
}
.icon.disabled {
  opacity: 0.5; /* Soluk renk */
  pointer-events: none; /* Tıklamayı engelle */
}
.post-modal-container .icon{
  height: 20px;
}